@font-face {
    font-family: Vogue;
    src: url(Vogue.ttf);
}

body {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Title{
    font-family: Vogue;
    text-align: center;
    padding-left: 750px;
    padding-top: 25px;
}

.img{
    float: right;
}

.logo {
    position: absolute;
    left: 5px;
    top: 5px;
}